<div id="<%= dom_id access_restriction_type %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= access_restriction_type.type_label %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Note:</strong>
    <%= access_restriction_type.note %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Private:</strong>
    <%= access_restriction_type.private %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this access restriction type", access_restriction_type, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this access restriction type', edit_access_restriction_type_path(access_restriction_type), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
